.poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
